table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
  }

  td, th {
    border: 1px solid black;
    padding: 8px;
  }

  tr:not(:first-child) {
    border-top: 1px solid lightgray;
  }